body,
html {
    height: 100%;
    margin: 0;
    font-family: "Roboto", "serif";
}

h4,
h5,
h6{
    font-weight: 500;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.mdl-textfield {  
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-image: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mdc-card{
    margin: 2%;
    padding: 1%;
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    text-align: center;
}
.mdl-card {
    margin: 2%;
    padding: 1%;
    display: flex;
}

.mdl-data-table,
.mdl-card {
    overflow-x:auto;
    margin-left:auto; 
    margin-right:auto; 
}

.mdc-button__label {
    font-family: "Roboto", "sarif";
}
::-webkit-scrollbar {
    display: none;
}
.mdc-button,
.mdl-button {
    margin: 0.5%;
}
@media only screen and (min-width: 768px) {
    #leftbox { 
        float:left;
        width:50%;
    } 
    #middlebox{ 
        float:left;
    } 
    #rightbox{ 
        float:right;
        width:50%;
    }
}
